<% if(!locals.wines){ %>
    <div class="centered">
        <h1 class="searcher">Add wines to your List by searching</h1>
    </div>
<% } else{ %>
 <% for(var i=0; i < wines.length; i++) { %>
     <div class="mdl-grid">
       <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
       <!-- Image Card-->
       <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--8dp">
           <img src='<%- wines[i].image_url %>'  height="100%" width="100%" border="0" alt="">
       </div>
       <!-- Info Card-->
       <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--8dp">
           <div class="mdl-card__title no-bottom-padding">
               <h2 class="mdl-card__title-text"><%- wines[i].name %></h2>
               <div class="mdl-layout-spacer"></div>
           </div>
           <div class="mdl-card__supporting-text no-top-padding">
               <h4><%- wines[i].type %></h4>
               <h4><%- wines[i].price %></h4>
           </div>
       </div>
       <!-- Price and Cart Card-->
       <div class="mdl-cell mdl-card mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--2dp">
           <div class="mdl-card__actions">
               <h4>Quantity: </h4>
               <button name='<%- wines[i].wineApiCode %>' type="submit" class="mdl-button mdl-js-button" onclick="openModal(this.name)" data-upgraded=",MaterialButton">More Info   <i class="material-icons mdl-color-text--green-800">info</i></button>
               <button name='<%- wines[i].wineApiCode %>' type="submit" class="mdl-button mdl-js-button" onclick="removeFromList(this.name,'<%- listType %>')">Remove   <i class="material-icons mdl-color-text--red-800">delete</i></button>
           </div>
       </div>
     </div>
 <% } %>
<% } %>
